<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link
      rel="icon"
      href="../../public/assets/images/Logo-donation.png"
      sizes="48x48"
      type="image/png"
    />
    <!-- Icons link -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <!-- Styles link -->
    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <link rel="stylesheet" href="../../public/styles/Donates.css" />
    <link rel="stylesheet" href="../../public/styles/main.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <a href="./Home Page.html" class="logo">
        <img
          src="../../public/assets/images/Logo-donation.png"
          alt="VitaLab Logo"
          width="36px"
        />
        <p>VitaLab</p>
      </a>
      <ul class="ulMenu">
        <li><a href="./Home Page.html">Home</a></li>
        <li><a href="./services.html">Services</a></li>
        <li><a href="./About.html">About Us</a></li>
        <li><a href="./Privacy.html">Privacy Policy</a></li>
        <li><a href="./Contact.html">Contact</a></li>
      </ul>

      <span class="material-symbols-outlined hamburger">menu</span>
      <span class="material-symbols-outlined closeIcone">close</span>
    </nav>

    <!-- Privacy and policy -->
    <section class="privacy-policy">
        <article class="news-welcome">
          <p>Privacy and Policy</p>
          <strong>Learn more about
            <b>our commitment to safeguarding your privacy and</b> protecting your
            data!</strong>
        </article>
        <article>
            <h2><strong>VitaLab's</strong> Commitment to Privacy and Data Protection</h2>
        
            <p>
                Welcome to VitaLab's Blood Donation Management System. We understand the importance of your privacy and are dedicated to maintaining your trust by protecting your personal information. This Privacy Policy outlines how we manage your data and the measures we take to ensure its safety. By using our system, you agree to the practices described in this policy. If you have any questions or concerns, please refer to our Contact page.
            </p>
        
            <h3>
                <span class="material-symbols-outlined"> library_books </span>
                Information Collection
            </h3>
            <p>
                Our goal is to provide you with the best possible services tailored to your needs. To achieve this, we collect and utilize various types of information, including:
            </p>
            <ul>
                <li>
                    <b>Personal Information:</b> This includes your name, email address, phone number, date of birth, and home address. This information helps us identify you and provide personalized services such as reminders for appointments and follow-ups.
                </li>
                <li>
                    <b>Donation History:</b> We maintain a detailed record of your blood donation history, including donation dates, types of donations, and any relevant medical information. This helps us ensure your safety and tailor our services to your specific needs.
                </li>
                <li>
                    <b>Usage Information:</b> We track how you interact with our system, such as the pages you visit and the actions you take. This data helps us understand your preferences, optimize our platform, and provide a more personalized experience.
                </li>
            </ul>
        
            <h3>
                <span class="material-symbols-outlined"> data_usage </span>
                How We Use Your Information
            </h3>
            <p>
                Your information is used in various ways to support our services and enhance your overall experience. These include:
            </p>
            <ul>
                <li>
                    <b>Service Delivery:</b> Your information enables us to manage your donations, schedule appointments, and provide personalized services such as health-related information and reminders.
                </li>
                <li>
                    <b>Communication:</b> We may contact you via email or phone to provide updates on your donations, share health and safety information, or inform you of upcoming events and opportunities to donate.
                </li>
                <li>
                    <b>Analytics:</b> We analyze usage patterns and user preferences to improve our system, identify trends, and develop new features that better meet your needs.
                </li>
                <li>
                    <b>Compliance:</b> Your data helps us comply with legal obligations, such as reporting requirements for blood donations and adhering to data protection laws.
                </li>
            </ul>
        
            <h3>
                <span class="material-symbols-outlined"> security </span>
                Data Security
            </h3>
            <p>
                Protecting your data is a top priority for us. We use industry-standard security measures, including encryption, firewalls, access controls, and regular security audits, to prevent unauthorized access, alteration, or destruction of your data. Our dedicated security team continually monitors and updates our systems to safeguard your information.
            </p>
        
            <h3>
                <span class="material-symbols-outlined"> share </span>
                Data Sharing
            </h3>
            <p>
                We take your privacy seriously and do not sell, trade, or rent your personal information to third parties. However, we may share your data in the following circumstances:
            </p>
            <ul>
                <li>
                    <b>With Your Consent:</b> We may share your information with specific parties if you explicitly consent to the sharing for a particular purpose.
                </li>
                <li>
                    <b>Service Providers:</b> We may share your data with trusted third-party service providers who support our operations, such as cloud storage or analytics providers. These providers are contractually obligated to protect your data and adhere to strict confidentiality agreements.
                </li>
                <li>
                    <b>Legal Requirements:</b> We may disclose your data to comply with legal obligations, such as government regulations or court orders. In such cases, we aim to limit the data shared to only what is necessary.
                </li>
                <li>
                    <b>Emergency Situations:</b> In cases of emergency, such as a medical crisis, we may share your information with healthcare professionals to provide you with the necessary care.
                </li>
            </ul>
        
            <h3>
                <span class="material-symbols-outlined"> balance </span>
                User Rights
            </h3>
            <p>
                As a user of VitaLab's Blood Donation Management System, you have certain rights regarding your personal information:
            </p>
            <ul>
                <li>
                    <b>Access:</b> You have the right to request access to the personal information we hold about you. Upon verification of your identity, we will provide you with the information.
                </li>
                <li>
                    <b>Rectification:</b> If you find inaccuracies in your data, you have the right to request corrections to ensure your information is accurate and up-to-date.
                </li>
                <li>
                    <b>Erasure:</b> Under certain circumstances, such as when your data is no longer necessary for its original purpose, you can request the deletion of your personal information.
                </li>
                <li>
                    <b>Data Portability:</b> You have the right to request a copy of your data in a machine-readable format, which you can transfer to another service provider if desired.
                </li>
                <li>
                    <b>Object:</b> You can object to specific types of processing, such as direct marketing, and we will stop processing your data for those purposes.
                </li>
                <li>
                    <b>Complaint:</b> If you believe your data rights have been violated, you have the right to lodge a complaint with your local data protection authority.
                </li>
            </ul>
        
            <h3>
                <span class="material-symbols-outlined"> cookie </span>
                Cookies and Tracking Technologies
            </h3>
            <p>
                Our system may use cookies and other tracking technologies to enhance your experience on our platform. These technologies help us remember your preferences, analyze your usage, and improve our services. You can manage your cookie preferences in your browser settings.
            </p>
        
            <h3>
                <span class="material-symbols-outlined"> update </span>
                Updates to This Policy
            </h3>
            <p>
                We may periodically update this Privacy Policy to reflect changes in our practices, legal requirements, or emerging privacy concerns. We encourage you to review this policy periodically for any updates and to stay informed about how we protect your data.
            </p>
        
            <p>
                Thank you for choosing VitaLab for your blood donation journey. We appreciate your trust and remain committed to protecting your privacy and ensuring the safety of your personal information at all times.
            </p>
        </article>
        
      </section>
      

    <!-- Footer -->
    <footer>
      <div class="footer-nav">
        <a href="./Home Page.html" class="logo">
          <img
            src="../../public/assets/images/Logo-donation.PNG"
            alt="VitaLab Logo"
            width="36px"
          />
          <p>VitaLab</p>
        </a>
        <div class="social">
          <p>Our socials</p>
          <a href="#"
            ><img
              src="../../public/assets/images/socials/icon-facebook.svg"
              alt="icon-facebook"
          /></a>
          <a href="#"
            ><img
              src="../../public/assets/images/socials/icon-twitter.svg"
              alt="icon-twitter"
          /></a>
          <a href="#"
            ><img
              src="../../public/assets/images/socials/icon-pinterest.svg"
              alt="icon-pinterest"
          /></a>
          <a href="#"
            ><img
              src="../../public/assets/images/socials/icon-instagram.svg"
              alt="icon-instagram"
          /></a>
        </div>
      </div>

      <div class="end">
        <ul>
            <li><a href="./Home Page.html">Home</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="./About.html">About Us</a></li>
            <li><a href="./Privacy.html">Privacy Policy</a></li>
            <li><a href="./Contact.html">Contact</a></li>
          </ul>
    
        <div>
          <input type="text" placeholder="Enter your email" />
          <button>Subsecribe</button>
        </div>
      </div>
      <hr />
      <p>© 2024 VitaLab. All rights reserved.</p>
    </footer>

    <script src="../../public/js/nav.js"></script>
  </body>
</html>
