*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    & .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & .card_container{
            padding-block: 5rem;
        }
        & .card_content{
            margin-inline: 1.75rem;
            border-radius: 1.25rem;
            overflow: hidden;
            
            & .card_article{
                width: 300px;
                border-radius: 1.25rem;
                overflow: hidden;

                & .card_image{
                    position: relative;
                    background-color: #f7fc9d;
                    padding-top: 1.5rem;
                    margin-bottom: -.75rem;
                    & .card_img{
                        width: 180px;
                        margin: 0 auto;
                        position: relative;
                        z-index: 5;
                    }
                    & .card_shadow{
                        width: 200px;
                        height: 200px;
                        background-color: #f7a3a3;
                        border-radius: 50%;
                        position: absolute;
                        top: 3.75rem;
                        right: 0;
                        left: 0;
                        margin-inline: auto;
                        filter: blur(45px);

                    }
                }
                & .card_data{
                    background-color: #cee8ec;
                    padding: 1.5rem 2rem;
                    border-radius: 1rem;
                    text-align: center;
                    position: relative;
                    z-index: 10;
                    & .card_name{
                        font-size: 1.5rem;
                        color: rgb(120, 145, 145);
                        margin-bottom: .75rem;
                    }
                    & .card_description{
                        font-size: 16px;
                        margin-bottom: 1rem;
                        color: gray;
                    }
                    & .card_button{
                        display: inline-block;
                        background-color: #ea8c8c;
                        padding: .75rem 1.5rem;
                        border-radius: .25rem;
                        color: #f7fc9d;
                        text-decoration: none;
                        cursor: pointer;
                    }

                }
            }

        }
    }
}


.swiper-button-prev::after,
.swiper-button-next::after
{
content: '';
}

.swiper-button-prev,
.swiper-button-next{
width: initial;
height: initial;
font-size: 3rem;
color: #ea8c8c;
display: none;
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-prev{
    right: 0;
}