@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Madimi+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Font-Family);
}
:root{
    /* Colors */
    /* Primary colors */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    --red: #df3d3d;
    --grey: #dcd4d4;
    --light-gray:  #f0e9e9;
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Costume-green-color: #155263;
    --Desaturated-gray-color: rgb(133, 132, 130);
    /* Fonts */
    --Font-Family: "Jost", sans-serif;
    --Font-Family2:"Madimi One", sans-serif;
    --Font-size: 16px;
    --Font-weight-Light: 100;
    --Font-weight-Regular: 400;
    --Font-weight-Bold: 700;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--Font-Family);
    font-size: var(--Font-size);
    font-weight: var(--Font-weight-Regular);
    background-color: #faf6f6;
    overflow-x: hidden;   
    & a{
        text-decoration: none;
    }
    /* For scroll bar */
    &::-webkit-scrollbar {
    width: 10px;
    } 
    &::-webkit-scrollbar-thumb {
    background-color: var(--Desaturated-Red);
    border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
    background-color: #e4e9e8;
    }
    & footer ul, & nav ul{
        list-style-type: none;
        display: flex;
        gap: 3rem;
        align-items: center;

        & a{
            text-decoration: none;
            color:var(--White);
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: var(--Font-weight-Bold);
            font-size: 12px;
            position: relative;

            &:hover {
                color:var(--red);
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2.5px;
                left: 0;
                bottom: -6px;
                background-color: var(--red);
                border-radius: 5px;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .3s;
            }
            &:hover:after{
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
    &  .logo {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px;
        text-decoration: none;
           & img{
            margin: 5px 0 0 12px;
        }
        & p{
            color: var(--red);
            font-weight: var(--Font-weight-Bold);
            letter-spacing: 2px;
            margin-top: 15px;
            font-size: 20px;
            font-family: var(--Font-Family2);
        }   
       
    }
    /* Navigation bar */
    & nav {
        padding: 0 2rem;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(0, 65%, 83%);
        position: fixed;
        z-index: 10;
        width: 100%;
    

        & ul > li > a{
            color: var(--Black);
        }
       & .hamburger,& .closeIcone{
            font-size: 2rem;
            display: none;
        }
    }
    /* Home content section */
    & .homeContent{
        display: flex;
        height: 600px;
        background-image: url('../images/laboratoire.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
        & article{
            z-index: 5;
            margin: 12rem 8rem;
            width: 500px;
            & h2{
                color: rgb(231, 63, 63);
                font-family: var(--Font-Family2);
                font-size: 3rem;
                letter-spacing: 2px;
                margin:0 0 2rem -4rem;
                line-height: 1;
                text-align: center;

                & b{
                    color: rgb(225, 212, 142);
                }
            }
            & p{
                color: white;
                line-height: 1.8;
                & strong{
                    font-family: var(--Font-Family2);
                    color: var(--red);
                    font-size: 18px;
                }
            }
            
            & div{
                margin: 1.4rem 0;
                display: flex;
                align-items: center;
                gap: 4rem;
                & .btn{
                    width: 160px;
                    margin-top: 2.5rem;
                    & a{
                        text-decoration: none;
                        color:white;
                        font-weight: var(--Font-weight-Bold);
                        font-family: var(--Font-Family);
                        text-transform: uppercase;
                    }
                    &:hover{
                        background-color:beige;
                        & a{
                            color: black;
                        }
                    }
                }
                & .btn:nth-child(2){
                    background-color: black;
                    &:hover{
                        background-color:beige;
                        & a{
                            color: black;
                        }
                    }
                }
            }
        }
    }
    /* get involved section */
    & .getInvolved{
        margin-top: 2rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        & > h3{
            font-size: 2.5rem;
            letter-spacing: 3px;
            color: var(--red);
            font-weight: var(--Font-weight-Bold);
            font-family: var(--Font-Family2);
        }
        & .involved{
            margin:3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3rem;
            & article{
                padding: 1rem;
                background-color: var(--light-gray);
                width: 350px;
                height: 480px;
                cursor: pointer;
                transition: .5s;
                
                &:hover{
                    transition:transform .5s;
                    transform: scale(1.05);
                }
                & img{
                    width: 100%;
                    margin-bottom: 2rem;
                }
               & div:nth-child(2){
                    text-align: center;
                    & h3{
                        margin-bottom: 1rem;
                    }
                    & p{
                        font-size: 13px;
                        color: rgb(150, 135, 135);
                        margin-bottom: 1rem;
                    }
                    & button{
                        margin-top: 2rem;
                        width: 100%;
                    }
                    
               }
            }
        }
    }
    /* Our services */
    & .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 1150px;
        & h1{
            font-size: 2rem;
            font-family: var(--Font-Family2);
            letter-spacing: 2px;
            margin-bottom: 3rem;
        }
        & p{
            color: var(--red);
        }
        & article{
            display: flex;
            flex-direction: row;
           
            & div{
                padding: 3rem;
                width: 575px;
                & p{
                    font-size: 12px;
                }
                & h3{
                    margin: 1rem 0 1rem 0;
                    font-size: 3.5rem;
                    color: var(--grey);
                }
                & h4{
                   font-size: 1.2rem; 
                   margin: 0 0 1rem 0;
                }
                & p{
                    width: 100%;
                    color: var(--Desaturated-gray-color);
                    margin: 0 0 2rem 0;
                }
            }

            & div:has(img){
                padding: 0;
                & img{
                    width: 575px;
                }
            }
            & .description2{
              text-align: right;
            }
           
        }
    }
    /* Our Achievements  */
    & .achievement, & .call{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        height: 260px;
        background-image: url('../images/hurt.PNG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -290px;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
        }
        & article{
            text-align: center;
            z-index: 5;
            color: white;
            text-transform: uppercase;
            & span{
                font-size: 3rem;
                color: var(--red);
            }
            &  h4{
                font-size: 2rem;
                font-weight: var(--Font-weight-Bold);
            }

        }
    }
    /* About us */
    & .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        width: 1200px;
        margin: auto;
        & h2{
            font-size: 2.5rem;
            color: var(--red);
            font-family: var(--Font-Family2);
            margin: 0 0 4rem 0;
            letter-spacing: 2px;
        }
        & article{
            display: flex;
            align-items: center;
            & div{
                & h3{
                    font-size: 2.5rem;
                    color: var(--red);
                    margin-bottom: 2rem;
                }
                & span{
                    font-weight: var(--Font-weight-Bold);
                }
                & p{
                    margin-top: 10px;
                    width: 90%;
                }
            }
        }
        
    }
    & .call{
        background-image: url('../images/Image_donor.jpg');
        text-align: center;
        flex-direction: column;
        color: var(--White);
        cursor: pointer;
        & > div{
            padding: 2rem 6rem;
            border: 5px solid #f21414;
            z-index: 5;
            & div{
                display: flex;
                align-items: center;
                & p{
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
                    font-size: 13px;
                    margin-top: .75rem;
                    & span{
                        margin-right: 5px;
                    }
                }
                & a{
                    color: var(--White);
                }
            }
        }
        

    }
    /* News */
    & .news{
        margin: 2rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
       
        & h2{
            font-size: 2rem;
            font-family: var(--Font-Family2);
            letter-spacing: 2px;
            color: var(--red);
            margin-bottom: 2rem;
        }
        & > div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3rem;
            padding: 1rem 4rem;
            & article{
                background-color: #f8f7fa;
                border-radius: 4px;
                padding: 1rem;
                box-shadow: 0 6px 12px rgba(0,0,0,.06), 0 -6px 18px rgba(0,0,0,.06) ;
                max-width: 60%;
                transition: .5s;
                cursor: pointer;
                &:hover{
                    transition:transform .5s;
                    transform: scale(1.05);
                }
                & > div:last-child {
                    padding: 10px;
                    div:first-child{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        & p{
                            color: var(--red);
                            display: flex;
                            align-items: center;
                            gap: 3px; 
                            font-size: 12px;
                        }
                    }
                }
                & img{
                    width: 320px;
                    height: 200px;
                    position: relative;
                }
                & h3{
                    color: var(--Dark-Grayish-Red);
                    margin: .5rem 0;
                }
                & p{
                    color: var(--Desaturated-gray-color);
                    font-size: 14px;
                }
            }
            
        }

    }
    /* Testimonials */
    & .testimonials{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & p{
            font-size: 14px;
            color: var(--red);
            font-weight: var(--Font-weight-Regular);
            letter-spacing: 1px;
        }
        & h2{
            font-size: 2rem;
            color: black;
            margin-bottom: 1.5rem;
        }
        & > div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3rem;
            gap: 2rem;
            & article{
                width: 400px;
                height: 320px;
                background-color: #f6d9d9;
                padding: 2rem;
                & p{
                    color: var(--Dark-Grayish-Red);
                }
                & > div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 2rem;
                    & > div:first-child{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        & img{
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            border: 2px  solid rgb(253, 160, 160);
                            object-fit: fill;
                        }
                        & span{
                            font-size: 12px;
                        }
                        & b{
                            font-size: 15px;
                            color: var(--Dark-Grayish-Red);
                        }

                    }
                    
                }
                & p {
                  font-size: 14px;
                  text-align: center;
                  position: relative;
                }
            }
        }
       
    }
    /* Contact Us */
    & .contact{
        width: 100%;
        max-width: 100%;
        background-color: var(--White);
        color: var(--Black);
        padding: 2rem 0;
    
        & h2 {
            font-size: 2rem;
            text-align: center;
            font-family: var(--Font-Family2);
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 2rem;
            color: var(--red);
        }
        & > div {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 2rem;
            max-width: 1200px;
            margin: 0 auto;
            & > div:first-child{
                text-align: left;
                & h3{
                    font-size: 1.2rem;
                    font-weight: var(--Font-weight-Bold);
                    letter-spacing: 1px;
                    margin-bottom: 2rem;
                }
                & p{
                    font-size: 1rem;
                    text-align: left;
                    letter-spacing: 1px;
                    margin-bottom: 1.2rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    & span{
                        margin-right: 1.2rem;
                    }
                    & a{
                        color: var(--Black);
                        text-decoration: none;
                        &:hover{
                            color: var(--red);
                        }
                    }
                    &:hover{
                        color: var(--red);
                    }
                }

            }
            & div:last-child{
                width: 100%;
                & iframe {
                    width: 100%;
                    height: 300px;
                    border: none;
                }
            }
        }

    }
    /* Footer */
    & > footer{
        background-color: var(--Black);
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        
       
        & > div:first-child{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
    
            &  .social{
                margin-top: .5rem;
                display: flex;
                gap: 2rem;
                & > a{
                    cursor: pointer;
                    position: relative;
                    &:hover{
                        opacity: .6;
                        }
                }
                & p{
                    font-family: var(--Font-Family2);
                    font-size: 18px;
                    font-weight: var(--Font-weight-Bold);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-right: 3rem;
                }
            }
        }

        & > .end{
            display: flex;
            justify-content: space-between;

            & div:last-child {
                margin-top: 10px;
                width: 350px;
                display: flex;
                gap: 12px;
                & > input {
                padding: 12px 30px;
                width: 100%;
            }
            & button{
                margin-top: 0;
                &:hover{
                    background-color:beige;
                    color: var(--Black);
                    transform: scale(1);
                }
            }

            }
            
        }
        & hr{
            border: none;
            height: 1.3px;
            background-color: #333;
            margin: 1rem 0;
            
        }
        &  p{
            text-align: center;
            color: var(--Very-Dark-Gray);
            cursor: pointer;
            &:hover{
                color: var(--red);
            }
        }

    }
}


/* Global style for all buttons */
button{
    padding: 12px 30px;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    transform: scaleX(1.1);
    transition: transform .5s;
    background-color:var(--red);
    color: #fff;
    text-transform: uppercase;
    font-weight: var(--Font-weight-Regular);
       
    &:hover{
        background-color:black;
        transition:transform .5s;
        transform: scale(1.2);
    }
}